<% @current = 0 %>


<div class="row">

      <% 15.times do |current| %>
  <div class="col-xs-6 col-sm-4" style="border: 2px solid black">

    <p>Retail Price: <%= @product.retail_price(@current) %></p>
    <p>Student Price: <%= @product.student_price(@current) %></p>
    <p style="color:red"><i>You Save: <%= @product.saved(@current) %></i></p>
    <p><b><%= @product.product_title(@current) %></b></p>
    <p><a href="http://www.perk.la/collections/perkla/products/converse" target="_blank">Get the Deal!</a></p>

    <p><a href="http://www.perk.la/collections/perkla/products/converse" target="_blank"><img src ="<%= @product.product_image(@current) %>" /></a></p>
  </div>


<% @current += 1 %>
<% end %>
</div>

