<!DOCTYPE html>
<html>
<head>
  <title>Student Shop</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>

<header>
  <img src= '/assets/logo_home.png' class="img-responsive" alt="Responsive image">
</header>

<body>
  <section id="studentshop">
    <%= yield %>
  </section>

  <footer id="info">
    <p>Copyright Perkla, 2014</a></p>
  </footer> 
</body>
</html>
