<!DOCTYPE html>
<html>
<head>
  <title>Student Saver</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>

<header>
  <img src= '/assets/IDme_Logo_White_Small.png' class="img-responsive" alt="Responsive image">
</header>

<body>
  <section id="studentshop">
    <%= yield %>
  </section>

  <footer id="info">
    <p><small>Copyright, 2014</small></p>
  </footer> 
</body>
</html>
